*
{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
ul 
{
    list-style-type: none;
}
header
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-image: url(img/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.news
{
    background-color: #fff;
    padding: 50px 0 32px;  
}
article
{
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}
article:nth-child(even)
{
    background-color: antiquewhite;
}
article:nth-child(-n + 2) h2::before
{
    content:'NEW ';
    color:red;
}
article ul 
{
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 20px;
}
article a
{
    color: rgb(33,37,41);
    text-decoration: none;
}
article a:hover
{
    color:#0085a1;
}
article h2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}
.article-meta
{
    color: rgb(134,142,150);
    margin-bottom: 5px;
}
article img
{
    width:100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 30px;
}
article p
{
    text-indent: 40px;
    margin-bottom: 10px;
}
h1
{
    color:#8d88d6;
    font-size: 4rem;
    font-family:'Times New Roman', Times, serif;
}
h3
{
    margin-bottom: 20px;
}
footer
{
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}
footer .links__list
{
    display: flex;
    gap:50px;
    justify-content: center;
    margin-bottom: 50px;
}
footer .links__list a
{
    color:#636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.copyright
{
    color: rgb(108, 117, 125);
    font-family:'Times New Roman', Times, serif
}